#panel {
  margin: 100px;
  padding: 20px;
  border: 1px solid red;
  width:300px;
  text-align:center;
}

.bottom {
  position: fixed;
  bottom: 0;
}

pre {
  background-color: lightgrey;
  border-radius: 5px;
  padding: 5px;
}